
    <!---- <div id="CV">
     <button id = "btn_download" class="btn_download2">Click on me to download Jelil-Info's Resume</button>
     </div>

<input type="radio" name="section" id="radio-section-0" checked />
<input type="radio" name="section" id="radio-section-1" />
<input type="radio" name="section" id="radio-section-2" />

<section id="section-0">
  <h2><label for="radio-section-0">Introduction</label></h2>
  <div>
    Content for the introduction.
  </div>
</section>
<section id="section-1">
  <h2><label for="radio-section-1">Previous Experience</label></h2>
  <div>
    Content for the Previous Experiences.
  </div>
</section>
<section id="section-2">
  <h2><label for="radio-section-2">Side Projects</label></h2>
  <div>
    Content for the side projects.
  </div>
</section>-->





<!-- The flexible grid (content) -->
<div class="row">
  <div class="left">

     <div>
     <h1>OYEKANMI OYETUNJI</h1>
     <h2 style="color:green;">FULL STACK DEVELOPER</h2>
     <h2 style="color:red;"> DIGITAL MARKETER</h2>
     <h2 style="color:blue;">SEO SPECIALIST</h2>
     </div>


<h3 style="border-bottom: 3px solid black;">PERSONAL DETAILS</h3>
<div class="grid-container1">
    <div class="grid-item1">Residential Address: <li style="display: inline;margin-left: 20px;">Ibadan,Oyo State,Nigeria</li></div>
    <div class="grid-item1">Telephone Numbers:<li style="display: inline;margin-left: 0px;"></b> 07030786761; 08155320855</li></div>
    <div class="grid-item1">Custom Email: <a style="color:#009999;margin-left: 52px;">jelil@infotechcrush.com</a></div>
    <div class="grid-item1">Email: <a style="color:#009999;margin-left: 52px;">oyekanmijelili@gmail.com</a></div>
    <div class="grid-item1">Company Website:<a href="https://infotechcrush.com/" target="_blank" style="color:#009999;margin-left: 36px;">infotechcrush.com</a></div>
    <div class="grid-item1">Personal Website:<a href="https://jelil-info.infotechcrush.com/" target="_blank" style="color:#009999;margin-left: 36px;">jelil-info.com</a></div>
    <div class="grid-item1">E-commerce Website:<a href="https://suok.infotechcrush.com/" target="_blank" style="color:#009999;margin-left: 36px;">suok.com</a></div>
    <div class="grid-item1">Github: <a href="https://github.com/jelil-info" target="_blank" style="color:#009999;margin-left:96px;">github.com/jelil-info</a></div>
  </div>



<div>

<h3 style="font-family:Verdana;border-bottom: 2px solid black;">WORK EXPERIENCE</h3>
<ul style="list-style-type: square;">

<li>
  JavaScript Programmer.
  Experience: Working on various projects with different complexity
  using the technology stack: JavaScript syntax from ES6 and higher  versions in both client- and server-side implementations.
</li>

<li>
 Multisonic Technologies, Ibadan, Oyo State (Industrial Attachment).
Experience: Construction of an Inverter, Installation of an Inverter
with Solar Panel and Repairing of an inverter and UPS.</li>

<li>
 Loyola College, Ibadan, Oyo State (N.Y.S.C). Responsibility: Physics Teacher.
</li>

</ul>
 </div>



 <div>

 <h3 style="border-bottom: 2px solid black;">PERSONAL PROJECTS</h3>


<!--<table style="height: 50%;">

<tr>
<td style="padding: 5px;">
<b>Personal Website</b><br/>
<a href="https://jelil-info.herokuapp.com/" target="_blank">https://jelil-info.herokuapp.com/</a><br/>
My personal website was deployed using github and heroku.
My Website is based on pure codes of javascript, html, css and nodejs. This website doesn’t involve WordPress, Web builder or any frontend framework whatsoever.

</td>
</tr>

<tr>
<td style="padding: 5px;">
  <b>Pomodoro Application</b><br/>
<a href="https://jelil-info-pomodoro.herokuapp.com/" target="_blank">https://jelil-info-pomodoro.herokuapp.com/</a><br/>
The Pomodoro technique is a time management technique . This
technique consists of breaking down the working time into small intervals
separated by short breaks.
</td>
</tr>

<tr>
<td style="padding: 0px;">
<b>Shopping List Application</b><br/>
<a href="https://jelil-info-shoppinglist.herokuapp.com/" target="_blank">https://jelil-info-shoppinglist.herokuapp.com/</a><br/>
</td>
</tr>

 </table>-->



 <table class="projects">

  <tr>
   <th>JavaScript</th>
   <th>ReactjS</th>
   <th>Vuejs</th>
  </tr>



   <td>
    <b>Personal Website</b><br/>
    <a href="https://jelil-info.infotechcrush.com/" target="_blank">jelil-info.com</a>

    <p>My personal website was deployed using github and heroku.
      My Website is based on pure codes of javascript, html, css and nodejs. This website doesn’t involve WordPress, Web builder or any frontend framework whatsoever.
   </p>
   </td>

   <td>
    <b>Online Market</b>
    <a href="https://suok.infotechcrush.com/" target="_blank">suok.infotechcrush.com</a><br/>

    <b>Social Media Website</b>
    <a href="https://jelil-info-mern-social.onrender.com/" target="_blank">jelil-info-mern-social.com</a><br/>

    <b>Expense Tracker Website</b><br/>
     <a href="https://dull-pear-bee-wrap.cyclic.app/" target="_blank">jelil-info-expense-tracker.com</a><br/>
    </td>

   <td>
   <b>Shopping List Application</b>
   <a href="https://shiny-hamster-6cfb93.netlify.app/" target="_blank">jelil-info-shoppinglist.com</a><br/>

   <b>Pomodoro Application</b>
    <a href="https://stellar-florentine-5b3c4a.netlify.app/" target="_blank">jelil-info-pomodoro.com</a><br/>
   </td>

  </table>

  </div><br/>



  <div>
    <table class="projects">


   <tr>
   <th>Angular</th>
   <th>HTML and CSS</th>
   </tr>


   <td>
    <b>Company website</b><br/>
   <a href="https://infotechcrush.com/" target="_blank">infotechcrush.com</a><br/>
   <b>SportsStore Application</b>
   <a href="https://jelilinfoangular-oyekanmijelili.b4a.run/store/" target="_blank">sportstore.com</a>

   </td>

   <td>
    <b>My Resume</b><br/>
   <a href="https://jelil-info.infotechcrush.com/myResume" target="_blank">myResume.com</a><br/>
   </td>



  </table>

</div>




<div>

  <h3 style="border-bottom: 2px solid black;">SKILLS</h3>


  <!--<table class="skills">
    <caption><h6>Front End</h6></caption>

    <tr class="skillsList">
      <td class="skill2">JavaScript: ES6</td>
      <td class="skill2">HTML5</td>
      <td class="skill2">CSS3</td>
      <td class="skill2">Angular</td>
      <td class="skill2">ReactJs</td>
      <td class="skill2">Vue.js</td>
      <td class="skill2">Bootstrap</td>
    </tr>

  </table>-->


  <h4  style="color: #ff6666;">Front End</h4>
  <div class="grid-container">
    <div class="grid-item">JavaScript</div>
    <div class="grid-item">HTML5</div>
    <div class="grid-item">CSS3</div>
    <div class="grid-item">Angular</div>
    <div class="grid-item">ReactJs</div>
    <div class="grid-item">React 360</div>
    <div class="grid-item">Vue.js</div>
    <div class="grid-item">Bootstrap</div>
    <div class="grid-item" style="width: 500px;">Model View Controller</div>
    <div class="grid-item">Material-UI</div>
  </div>


  <h4 style="color: #ff6666;">Back End</h4>


  <div class="grid-container">
    <div class="grid-item">NodeJs</div>
    <div class="grid-item">ExpressJs</div>
    <div class="grid-item">MongoDB</div>
    <div class="grid-item">MySQL</div>
    <div class="grid-item">Nodemailer</div>
  </div>

  <h4 style="color: #ff6666;">Tools</h4>


  <div class="grid-container">

    <div class="grid-item">Git</div>
    <div class="grid-item">Npm</div>
    <div class="grid-item">Rest API</div>
    <div class="grid-item">Socket.IO</div>
    <div class="grid-item">URL routing</div>
    <div class="grid-item" style="width: 500px;">Progressive Web App</div>
    <div class="grid-item">Docker container</div>
    <div class="grid-item">Linux(Ubuntu)</div>
    <div class="grid-item">Heroku</div>
    <div class="grid-item">brevo.com</div>

  </div>



</div>




 </div>








 <!-- Marketing -->

<div class="right" style="margin-top: -89px;">


<h3 style="margin-top: 200px;">Lists of My Insights on Digital Marketing and SEO</h3>


<!--<ol class="DigitalSkills">
  <li>Creating Digital marketing strategy</li>
  <li>Uncovering the customer experience</li>
  <li>Dipping into content Creation</li>
  <li>Reaching Your Millennial Audience</li>
  <li>Implementing Channel Promotions</li>
  <li>Connecting with Influencers</li>
  <li>Facebook Marketing</li>
  <li>Deploying Other Social Media
  <li>Analyzing Data for Success</li>
</ol>-->


      <table>
         <tr>
            <th>Digital Marketing</th>
            <th>Search Engine Optimization</th>
         </tr>
         <tr>
            <td class="BuisnessSkills1">
               <ol class="BuisnessSkills">
                  <li>Creating Digital marketing strategy</li>
                  <li>Uncovering the customer experience</li>
                  <li>Dipping into content Creation</li>
                  <li>Reaching Your Millennial Audience</li>
                  <li>Implementing Channel Promotions</li>
                  <li>Connecting with Influencers</li>
                  <li>Facebook Marketing</li>
                  <li>Deploying Other Social Media
                  <li>Analyzing Data for Success</li>

               </ol>
            </td>
            <td class="BuisnessSkills1">
               <ol class="BuisnessSkills">

                <ol class="BuisnessSkills">
                  <li>Keyword Research</li>
                  <li> On-Page SEO</li>
                  <li>Link Building</li>
                  <li> Technical SEO</li>
                  <li>How search engines build their index</li>
                  <li>How search engines rank pages</li>
                  <li>How search engines personalize search results</li>
                  <li>Setting up for SEO success</li>
                  <li>How to track SEO success</li>
                  <li>SEO tools</li>
                </ol>
            </td>

        </tr>
              </table>



<!--<table style="width:100%">

  <tr>
    <th colspan="3">Creating Digital marketing strategy</th>
  </tr>

  <tr>
  <td>Developing your overall digital strategy</td>
    <td>Grabbing the attention of your customer</td>
    <td>Discovering your buisness model and brand</td>
    </tr>

    <tr>
 <td>Deciding which marketing campaign to create</td>
    <td>Crafting offers that sell</td>
    <td>Planning B2B campaign success</td>
  </tr>



  <tr>
  <th colspan="3">Uncovering the customer experience</th>
  </tr>

  <tr>
    <td>Interacting with customer data</td>
    <td>Uncovering buyer personas</td>
    <td>Structuring the buyer journey</td>
  </tr>

  <tr>
    <td>Embracing sales enablement</td>
  </tr>



  <tr>
    <th colspan="3">Dipping into content            Creation
    </th>
  </tr>

  <tr>
    <td>Creating your content plan</td>
    <td>Reviewing content types</td>
    <td>understanding the customer's intent</td>
  </tr>

  <tr>
    <td>Creating content that tells a story</td>
    <td>Defining your content framework using    processes and systems</td>
    <td>Targeting content for your B2B audience</td>
  </tr>

  <tr>
    <th colspan="3">Reaching Your Millennial Audience</th>
  </tr>

  <tr>
    <td>Figuring Out Millennials</td>
    <td>Looking at the Influence of Millennials</td>
    <td>Pursuing a Data Strategy</td>
  </tr>

  <tr>
    <td>Finding Millennials on Traditional Media</td>
    <td>Experimenting with the Share Economy</td>
    <td>Developing the Brand Experience</td>
  </tr>


  <tr>
    <th colspan="3">Implementing Channel Promotions</th>
  </tr>

  <tr>
    <td>Identifying Paid, Earned, Shared, and Owned Media</td>
    <td>Using Search Marketing</td>
    <td>Making Content Shareable</td>
  </tr>

  <tr>
    <td>Considering Email Marketing</td>
    <td></td>
    <td></td>
  </tr>


  <tr>
    <th colspan="3">Reaching Your Millennial Audience</th>
  </tr>

  <tr>
    <td>Figuring Out Millennials</td>
    <td>Looking at the Influence of Millennials</td>
    <td>Pursuing a Data Strategy</td>
  </tr>

  <tr>
    <td>Finding Millennials on Traditional Media</td>
    <td>Experimenting with the Share Economy</td>
    <td>Developing the Brand Experience</td>
  </tr>


  <tr>
    <th colspan="3">Connecting with Influencers</th>
  </tr>

  <tr>
    <td>Communicating with Influencers</td>
    <td>Collaborating to Win</td>
    <td>Engaging Influencers Using the “Three Cs”</td>
  </tr>

  <tr>
    <td>Succeeding with Influencer Marketing</td>
    <td>Getting Creative</td>
    <td>Working with an Agency</td>
  </tr>



  <tr>
    <th colspan="3">Facebook Marketing</th>
  </tr>

  <tr>
    <td>What Is Facebook, and Why Is It So popular?</td>
    <td>Creating a Facebook Marketing Plan</td>
    <td>Selling Products and Services Using Facebook Offers</td>
  </tr>

  <tr>
    <td>Uniting Facebook with Other Social Media
</td>
    <td>Getting into Instagram</td>
    <td>Promoting Advanced Customer Engagement</td>
  </tr>


<tr>
    <th colspan="3">Deploying Other Social Media</th>
  </tr>

  <tr>
    <td>Leveraging Social Media</td>
    <td>Working with Twitter</td>
    <td>Looking at YouTube</td>
  </tr>

  <tr>
    <td>Reviewing Pinterest</td>
    <td></td>
    <td></td>
 </tr>




 <tr>
    <th colspan="3">Analyzing Data for Success</th>
  </tr>

  <tr>
    <td>Looking Back at Your Business Model</td>
    <td>Reassessing Your Strategy</td>
    <td>Reviewing Ongoing Improvement for B2B Marketing</td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>










</table>-->















<!--EDUCATIONAL BACKGROUND-->

<div class="right" style="margin-top: -180px;">


  <h3 style="border-bottom: 2px solid black;margin-top: 200px;">EDUCATIONAL BACKGROUND</h3>



  <h4 style="margin-bottom: 0px;">Tertiary education:</h4>
   <table >
  <tr>
  <th>S/N</th>
   <th>Institution</th>
   <th>Degree</th>
  </tr>

  <tr>
   <td>1</td>
   <td>University of Ibadan, Ibadan, Oyo State.</td>
   <td>M.Sc. in Solid State Physics.</td>
  </tr>

  <tr>
  <td>2</td>
   <td>Ladoke Akintola University of Technology, Ogbomoso, Oyo State.</td>
   <td>B.Tech. in Pure and Applied Physics with Second Class(Upper Division).</td>
  </tr>

  <tr>
  <td>3</td>
  <td>The Federal Polytechnic, Ilaro, Ogun State.</td>
  <td>National Diploma in Electrical and Electronics Engineering.</td>
  </tr>

   </table>


   <h4 style="margin-bottom: 0px;">Secondary education:</h4>
  <table>
  <tr>
  <th>S/N</th>
  <th>Institution</th>
  <th>Level</th>
  </tr>

  <tr>
  <th>1</th>
  <td>Kings and Queens Academy, Osogbo, Osun State.</td>
  <td>Senior School Certificate</td>
  </tr>

  </table>



  <div>
    <h3 style="border-bottom: 2px solid black;">AREAS OF EXPERTISE</h3>
   <ul style="list-style-type: square;">
   <li> Inverters Builder and Installer</li>
   <li> Proficiency in construction of locally made Inverters.</li>
   <li> Proficiency in repairing locally made and imported Inverters.</li>
   <li>Good at using Microsoft Office suite of products (Word, PowerPoint, and Excel).</li>
   </ul>
  </div>




  <h3 style="border-bottom: 2px solid black;">LANGUAGE SKILLS</h3>
  <table>

  <tr>
  <th>English</th>
  <th>Yoruba</th>
  <th>Arabic</th>
  </tr>


    <tr>
    <td>Full professional proficiency</td>
    <td>Native or bilingual proficiency</td>
    <td>Professional working proficiency</td>
    </tr>







  </table>

  <div>
  <h3 style="border-bottom: 2px solid black;">LEISURE ACTIVITIES</h3>
  <p>Reading books, coding, carrying out research on electronics, and listening to bbcworldservice.com.</p>
  </div>


  </div>







</div>



















      
